* {
    color: white;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link, .nav-tabs {
margin: 0px 2px 0px 0px;
color: black;
}

.dropdown-toggle.show {
    color: black;
}

.nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: purple;
    color: white;
}

.nav-link.active {
    border-bottom-left-radius: 25px;
}

#navbar {
    background-color: #a6a6a6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
}

#land_top
{
    background-color: purple;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* box-shadow: 2px 15px; */
}

#ep_cards a {
    text-decoration: none;
    color: black;
}

#land_bot {
    background-color: purple;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    margin-top: 15px;
}

#title {
    text-align: center;
}

#image {
    position: absolute;
    max-width: 110px;
}

#curr_ep_play, #player, .offcanvas-title {
    color: black;
}

#curr_ep_play, #player {
    margin: 20px 0px 20px 0px;
}

#land_desc {
    text-align: center;
    background-color: purple;
    border-radius: 50px;
}

#img_hold {
    background-color: purple;
    border-radius: 50px;
    margin-bottom: 30px;
}

#the_doc {
    margin-top: 25px;
    margin-bottom: 25px;
}

#drMarb {
    border-radius: 25px;
}

html, body {
    background-color: black;
}

@media only screen and (max-width: 320px)
{
    #image {
        max-width: 55px;
        margin-top: 5px;
    }

    #transpImg {
        max-width: 300px;
    }
}

@media only screen and (max-width: 412px)
{
    #image {
        max-width: 65px;
        margin-top: 5px;
        margin-left: 15px;
    }

    #transpImg {
        max-width: 300px;
    }
}

@media only screen and (max-width: 428px)
{
    #image {
        max-width: 65px;
        margin-top: 5px;
        margin-left: 15px;
    }

    #transpImg {
        max-width: 300px;
    }
}