.nav-tabs {
    border-bottom: none;
}

.nav-link.active {
    border-bottom-left-radius: 25px;
}

#navbar {
    background-color: grey;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
}

#land_top
{
    background-color: red;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 15px;
}

#ep_cards a {
    text-decoration: none;
    color: black;
}